/* font family */
  @import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
*{
    font-family: 'Lugrasimo', cursive;
    margin: 0;
    padding: 0;
}
.btn{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: progress;
    }
/* universal tag */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
/* navigation bar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h3{
    font-size: 2.7rem;
    color: #131313;
}
ul{
    display: flex;  
}
ul li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
ul li a{
    text-decoration: none;
    color: black;
}
/* banner contain */
.banner-text{
    text-align: center;
}
.banner-text h1{
    color: var(--dark-01, #131313);
    font-weight: 700;
    margin-top: 100px;
}
p{
    color: var(--dark-03, #727272);
    font-weight: 400;
    line-height: 26px;
    margin: 40px 0;
    }
.banner img{
    width: 100%;
    margin-top: 40px;
}
/* 1st section */
main{
    max-width: 1440px;
    margin: 0 auto;
 }
 .section-container{
     display: flex;
     align-items: center;
 }
 .teams-container-img{
     display: flex;
     justify-content: center;
 }
 .likha{
     padding: 0 70px;
 }
 .likha h3{
     font-size: 1.7rem;
     font-weight: 500;
 }
 b{
     font-weight: 800;
 }
 span{
     color: #FF900E;
 }
 
 .img1, .img2{
     max-width: 342px;
 }
 /* feature section */
/* facts section */
 .facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
 }
.facts-card-container{
    display: flex;
    justify-content: space-around;

 }
 .card-stats{
    font-weight: 600;
    font-size: 2.7rem;
 }
 .card p{
    margin: 7px 0 1px 0;
 }
 h3{
    margin-top: 60px;
    font-size: 1.7rem;
}
.facts p{
    margin: 10px 0 50px 0;
}
/* sponsor container */
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
}
.sponsor-img-container img{
    width: 165.833px;
    height: 50px;
    margin: 15px auto;
}
.section-title p{
    text-align: center;
    margin-bottom: 4.5rem;
}
.section-title h3{
    text-align: center;
}



/* responsive */
/* mobile */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
    ul li{
        margin-top: 20px;
    }
    .section-container, .facts-card-container, .sponsor-img-container{
        flex-direction: column;
    }
    .teams-container-img{
        flex-direction: column;
        justify-content: center;
    }
    .likha{
        padding: 0 20px;
    }
    .likha h3{
        margin-top: 30px;
    }
    .facts-card-container{
    padding: 0 10px;
    gap: 10px;
   }
}
/* medium device */
@media  screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
    ul li{
        margin-top: 30px;
    }
    header{
        padding: 50px;
    }
    .section-container, .facts-card-container, .sponsor-img-container{
        flex-direction: column;
    }
    .teams-container-img{
        flex-direction: column;
        justify-content: center;
    }
    .likha{
        padding: 0 30px;
    }
    .likha h3{
        margin-top: 40px;
    }
    .facts-card-container{
        padding: 0 20px;
        gap: 20px;
       }
    }
}
